<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }} -- My tech blog</title>
    <style type="text/css">.error {color: red;}</style>
</head>
<body>
    <p>ID: {{ .ID }}</p>
    <p>Title: {{ .Title }}</p>
    <p>Content: {{ .Body }}</p>

    {{/* 构建删除按钮 */}}
    {{ $idString := Int64ToString .ID }}
    <form action="{{ RouteName2URL "articles.delete" "id" $idString }}" method="post">
        <button type="submit" onclick="return confirm('The delete action is irreversible, please confirm whether to continue!')">Delete</button>
    </form>
</body>
</html>